<!-- .ejs file uses HTML + JavaScript -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='app.js'></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <main class="home_about">
        <div class="spacer"></div>
        <h2 >Movie Image Search</h2>

        <!-- Name: How to handle form data in Express ? -->
        <!--Source: https://www.geeksforgeeks.org/how-to-handle-form-data-in-express/ -->

        <!-- Name: Node and Express.js Fundamentals - Collecting Form Data with Express -->
        <!--Source: https://www.youtube.com/watch?v=V9JyBCTcDsg -->

            <form action="/search" method="POST">
                <table>
                    <tr>
                        <td><label for="movie-search">Search:</label></td>
                        <td><input type="text" placeholder="Enter the name of a movie" id="search" name="search" required></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button class="button" type="submit">Search</button>
                        </td>
                    </tr>
                </table>
            </form>
   
            <!-- Name: HTML Images -->
            <!-- Source: https://www.w3schools.com/html/html_images.asp -->
            <!-- If movie, load. If error, load. If nothing, nothing. -->
            <% if (movieURL) { %>
                <div class="movie-image-container">
                    <img src="<%= movieURL %>" alt="Movie Image" class="movie-image">
                </div>
            <% } %>
    </main>
</body>
</html>